@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Marcellus&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --background-dark: #171717;
    --background-light: #788AA3;
    --input-background: #d3d3d333;
    --primary-color: #FFF;
    --secondary-color: #8FA3BF;
    --text-color: #d3d3d3cc;
}

body {
    position: relative;
    font-size: 1.6rem;
    background-color: var(--background-dark);
}

.app {
    margin: 0 9rem;
}

/* ASIDE IMAGE */

.image-area {
    position: absolute;
    height: 100vh;
    width: 30%;
    background-color: var(--background-light);
    right: 0;
    top: 0;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-container img {
    height: 95vh;
    width: 66rem;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: .5s;
}

/* HEADER */

header {
    width: 60%;
    padding: 2rem;
    color: var(--primary-color);
    font-family: Marcellus;
    display: flex;
    gap: 20rem;
    align-items: center;

}

.logo {
    font-size: 3.5rem;
    cursor: pointer;
}

.logo h2 {
    font-weight: 400;
}


.menu {
    display: none;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 5rem;
    list-style: none;
    font-size: 1.8rem;
}

.nav ul li {
    cursor: pointer;
    transition: .5s ease;
}

.nav ul li:hover {
    color: var(--secondary-color);
}

.nav ul li:first-child {
    color: var(--secondary-color);
}

/* MAIN */

main {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary-color);
}

.headline {
    width: 50%;
    font-family: 'Lato';
    font-size: 3.8rem;
}

.headline span {
    color: var(--secondary-color);
}

.main-text {
    font-family: Marcellus;
    margin: 2rem 0;
    width: 40%;
    text-align: justify;
    color: var(--text-color);
}

form {
    position: relative;
    width: 40%;
}

#input-email {
    font-family: "Lato";
    padding: 1.5rem 2rem;
    border-radius: 999px;
    border: none;
    width: 100%;
    background-color: var(--input-background);
    color: var(--text-color);
    outline-color: var(--secondary-color);
}

#input-email::placeholder {
    color: var(--text-color);
}

.subs-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 1.5rem 2rem;
    border-radius: 999px;
    border: none;
    font-family: "Lato";
    font-weight: 800;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: .5s ease-in;
}

.subs-btn:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

@media (max-width: 1150px) {

    .app {
        margin: 0 7rem;
    }

    .image-area {
        width: 25%
    }

    .image-container img {
        width: 40rem;
    }

    header {
        gap: 5rem;
    }

    .headline {
        font-size: 2.8rem;
    }
}

@media (max-width: 850px) {

    .app {
        margin: 0 2rem;
    }

    header {
        width: 100%;
        justify-content: space-between;
    }

    .nav ul {
        gap: 3rem;
    }

    .image-area {
        display: none;
    }

    body {
        text-align: center;
    }

    main .headline,
    .main-text {
        width: 100%;
    }

    form {
        width: 100%;
        margin-top: 2rem;
    }

    .headline {
        font-size: 2.5rem;
    }
}

@media (max-width: 576px) {
    header {
        width: 100%;
        justify-content: space-between;
    }

    .nav {
        display: none;
    }

    .menu {
        display: block
    }

    .main-text {
        font-size: 1.4rem;
    }

    form {
        width: 100%;
        margin-top: 2rem;
    }

    .headline {
        font-size: 1.8rem;
    }
}